<section>
    <div class="container">
    <div class="row">
     <div class="col-md-6">
        <h2 class="text-center" style="font-style: italic;">Edit product</h2>
        <form action="/admin/edit-product/{{product._id}}" method="post" enctype="multipart/form-data">
            <label for="" >Name</label>
            <input type="text" style="border-radius: 25px;" name="Name" class="form-control" value="{{product.Name}}">

            <label for="">Category</label>
            <input type="text" style="border-radius: 25px;" name="Category" class="form-control" value="{{product.Category}}">

            <label for="">Price</label>
            <input type="text" style="border-radius: 25px;" name="Price" class="form-control" value="{{product.Price}}">
            
             <label for="">Description</label>
            <input type="text" style="border-radius: 25px;" name="Description" class="form-control" value="{{product.Description}}">
           
            <label for="Image">Image</label>
            <br>
            <img src="/product-images/{{product._id}}.png" alt="" width="100px" height="auto" style="border-radius: 50%;" id="imgView" class="pt-3">
            <input type="file" name="Image" class="form-control" onchange="viewImage(event)" >
            
            <button type="submit" class="btn btn-success mt-4" style="border-radius: 40px 10px;">submit</button>
        </form>
     </div>
    </div>
    </div>
</section>
<script>
    function viewImage(event){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>