<section  style="background-image: url('/images/15.jpg'); width: 100%; height: 100vh; background-size: cover; background-position: center;" >
    <div class="container"  >
        <table class="table mt-1" style="border-radius: 25px;
  background: #cdd5c3;">
            <thead>
                <tr>
                    <th scope="col" style="font-style: italic;">Item</th>
                    <th scope="col" style="font-style: italic;">Title</th>
                    <th scope="col" style="font-style: italic;">Price</th>
                    <th scope="col" style="font-style: italic;">Quantity</th>
                    <th scope="col" style="font-style: italic;">Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td><img style="width: 70px;" src="/product-images/{{productDetails._id}}.png" alt=""></td>
                    <td>{{productDetails.Name}}</td>
                    <td>{{productDetails.Price}}</td>
                    <td>
                        <button class="cart-item-count mr-3" onclick="changeQuantity('{{this._id}}', '{{productDetails._id}}', -1)">-</button>
                        {{this.quantity}}
                        <button class="cart-item-count ml-3" onclick="changeQuantity('{{this._id}}', '{{productDetails._id}}', 1)">+</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" onclick="removeFromCart('{{this._id}}', '{{productDetails._id}}')">Remove</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
            
        </table>
        <div class="float-right pr-5" >
    <h3 class="float-right mr-3" style="font-style:italic; color:white;" >Total: RS.{{total}}</h3>
     <a href="/place-order" class="float-right mr-3 btn btn-success mt-3" style="width: 60%;">Place Order</a>
    
</div>
    </div>
</section>
<script>
    function changeQuantity(cartId, proId, count) {
        $.ajax({
            url: '/change-product-quantity',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ cartId, proId, count }),
            success: (response) => {
                if (response.success) {
                    location.reload(); // Reload page on success
                } else {
                    alert('Error updating quantity');
                }
            },
            error: (xhr, status, error) => {
                console.error('AJAX Error:', status, error);
                alert('An error occurred while updating the quantity.');
            }
        });
    }
</script>
<script>
    function removeFromCart(cartId, proId) {
        $.ajax({
            url: '/remove-from-cart',  // Endpoint to handle item removal
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ cartId, proId }),
            success: (response) => {
                if (response.success) {
                    location.reload(); // Reload page on success
                } else {
                    alert('Error removing item');
                }
            },
            error: (xhr, status, error) => {
                console.error('AJAX Error:', status, error);
                alert('An error occurred while removing the item.');
            }
        });
    }
</script>
