<section 
  style="
    background: url('/images/p6.jpg') no-repeat center center/cover;
    width: 100%;
    min-height: 100vh;  /* 👈 not fixed height */
    background-attachment: fixed; /* Optional for a parallax-like effect */
    padding: 40px 0;
  "
>
    <div class="container mt-1">
        <div class="row">
        {{#each products}}
        <div class="col-md-3 p-3 " style="border-radius:10px 40px">
            <div class="card" style="border-radius:10px 40px ">
                <img class="card-img-top"
                src="/product-images/{{this.productDetails._id}}.png"
                alt="Card image cap"
                style="height: 12rem;">
                <div class="card-body">
                    <h5 class="card-title">{{this.productDetails.Name}}</h5>
                    <p class="card-text">Rs.{{this.productDetails.Price}}</p>
                    <p class="card-text">Quantity.{{this.quantity}}</p>
                    <p class="card-text">{{this.productDetails.Description}}</p>
                </div>
            </div>
        </div>
        {{/each}}
        </div>
    </div>
</section>
